.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #fafaff;
}

body.dark-mode {
  background-color: #1E1E1E;
  color: #ffffff;
}