.App {
  display: grid;
  place-items: center;
  background-color: #fafaff;
}

.body {
  background-color: gray;
}

.section {
  background-color: White;
  width: 1216px;
  height: 404px;
  box-shadow: 0px 16px 58px 0px rgba(9, 10, 51, 0.03);
  box-shadow: 0px -2px 50px 0px rgba(9, 10, 51, 0.02);
}

.header2 {
  font-family: Inter;
  font-weight: 900;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
}
